body{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 50px;
    background-image: url("img/dark-grey-terrazzo.webp");
    color: #efef;
}

#score{
    display: inline-block;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Macondo', cursive;
    font-family: 'Red Hat Display', sans-serif;
}

@media (max-width: 700px) {
    body {
        width: 600px;
    }

    #score {
        font-size: 42px;
    }

}


input{
    padding: 10px 20px;
    cursor: pointer;
    font-size: 25px;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
    background-color: transparent;
    color: #efef;
    font-weight: bold;
}

#result{
    font-size: 26px;
    font-weight: bold;
    margin-top: 50px;

}

.grid{
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    justify-content: center;
    margin-top: 30px;
}